@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    transition: all 200ms linear;
    overflow-x: hidden;
}
.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
    background-color: #ffe5e6;
    overflow-x: hidden;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
    margin-top: 40px;
	transform: translateY(-50%);
    z-index: 20;
}


/* SELEÇÃO */
::selection {
    color: #fff;
    background-color: #8167a9;
}
::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}
/* AJUSTE DE MIDIA */
@media(max-width: 220px){
    section,div,.mobile-nav-button,.mobile-brand{
        transition: 0.2s ease;
        opacity: 0;
    }
    *{
        overflow: hidden;
    }
}